.wrapper{
    padding: 80px 0;
}

.text{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.button {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 700;
}
.button:hover {
    transform: scale(1.1);
}
