.modal {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 30px;
    position: relative;
    width: fit-content;
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
}
.button {
    height: 32px;
    width: 32px;
    border:none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon {
    width: 20px;
    height: 20px;
    fill: black;
}