.wrapper {
    display: flex;
}
.text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.name{
    font-weight: 700;
}
.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.icon{
    height: 25px;
    width: 25px;
    fill: var(--accent-color);
}
.icon:hover{
    fill: var(--button-accent);
}